@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="Account" asp-action="SignIn" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    name:<input type="text" name="Name" />
    <br />
    Password<input type="text" name="Password" />
    <br /> <button type="submit">SignIn</button>
</form>
