@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="SignIn">
    name:<input type="text" name="Name" />
    <br />
    email<input type="email" name="Email" />
    <br /> <button type="submit">SignIn</button>
</form>