<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div style="background-color: slateblue; margin-left: 16%"><h1>SchoolAide</h1>
        <h3>Empowering Parents, Teachers and Students</h3></div>
        @RenderBody()
    </div>
</body>
</html>
