<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SchoolAide  -  @ViewBag.Title</title>
</head>
<body>
    <div>
        <div style="background-color: slateblue; color: black; padding-left: 16%;">
            <span><h1>SchoolAide </h1>
            <h3>Empowering Parents, Teachers and Students...</h3></span>
            <span>
                Sign On
            </span>
        </div>
        @RenderBody()
    </div>
</body>
</html>
